In [1]:
import json
import requests as req
import pandas as pd
import numpy as np

In [2]:
# bring in the json file.
purch_data = json.load(open('purchase_data.json'))
# print(purch_data)

In [3]:
# print(json.dumps(purchase_data, indent=4, sort_keys=True))
# Age, Gender, Item ID, Item Name, Price, and SN are the columns I am interested in. I want to put them into a dataframe\
# pandas.read_json(path_or_buf=None, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False, chunksize=None, compression='infer')
purch_data1_df=pd.read_json('purchase_data.json')
purch_data1_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
# sweet...now I have a dataframe w/ the content.  Maybe I should get the other set too.  
purch_data2_df=pd.read_json('purchase_data2.json')
purch_data2_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [8]:
#  Union!  
# frames = [df1, df2, df3]
list_of_dfs=[purch_data1_df, purch_data2_df]
purch_data_df =  pd.concat(list_of_dfs)
# purch_data_df
purch_data_df.count()
# Data does not appear to have NaNs. There are 858 purchase records.  
#$ SN appears to have player IDs.  
# Sort it by SN to check if there are dupes.  
pdata_sort_sn_df = purch_data_df.sort_values("SN", ascending = True)
pdata_sort_sn_df.head(10)
# yup, plenty of repeat purchases.  We need distinct SN values.

,Age,Gender,Item ID,Item Name,Price,SN
144,20,Male,44,Bonecarvin Battle Axe,2.46,Adairialis76
308,37,Male,79,"Alpha, Oath of Zeal",2.88,Aduephos78
377,37,Male,174,Primitive Blade,2.46,Aduephos78
431,37,Male,92,Final Critic,1.36,Aduephos78
224,26,Male,106,Crying Steel Sickle,2.29,Aeduera68
647,26,Male,156,Soul-Forged Steel Shortsword,1.16,Aeduera68
721,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68
394,25,Male,44,Bonecarvin Battle Axe,2.46,Aela49
4,23,Male,63,Stormfury Mace,1.27,Aela59
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34

In [10]:
# **Player Count**
# * Total Number of Players -- I'll get this from SN.
# googling tells me I should look into the drop_duplicates() function and subset keyword 
pdata_unique_by_SN = purch_data_df.drop_duplicates("SN", keep = 'first')
# player_count = pdata_unique_by_SN["SN"].value_count()
pdata_unique_by_SN.dtypes
# I don't know why value_count() won't give me the count.  
player_count = pdata_unique_by_SN["SN"].count()
player_count  # looks good.  First answer is done. 
print  ("**Player Count**", "\n", "Total Number of Players: " + str(player_count))

# * Number of Unique Items is next.  I can probably work with Item ID or Item Name
# Study both to see if one is better than the other.

**Player Count**
 Total Number of Players: 612

In [12]:
# * Number of Unique Items is next.  I can probably work with Item ID or Item Name
# Study both to see if one is better than the other.  
# pdata_sort_item_df = purchase_data_df.sort_values("Item Name", ascending = True)
# pdata_sort_item_df.head(100)
pdata_sort_itemid_df = purch_data_df.sort_values("Item ID", ascending = True)
pdata_sort_itemid_df.head(10) 
# both seem ok.  I'll pick ID.

     Age  Gender  Item ID     Item Name  Price            SN
173   30    Male        0      Splinter   1.82  Chadadarya31
33    16  Female        0      Splinter   1.89  Pharithdil38
252   22    Male        1      Crucifer   2.28   Ilaesudil92
499   22    Male        1      Crucifer   2.28     Assylla81
254   21    Male        1      Crucifer   2.28  Undirrasta89
181   24    Male        1      Crucifer   2.28      Hiasri33
51    28    Male        1      Crucifer   3.67      Palyon91
59    15    Male        2       Verdict   3.40         Ila44
59    39  Female        2       Verdict   2.65   Aesririam61
21    15    Male        3  Phantomlight   1.79   Iaralrgue74

In [15]:
pdata_unique_by_item = purch_data_df.drop_duplicates("Item ID", keep = 'first')
item_cnt = pdata_unique_by_item["Item ID"].count()
item_cnt  # looks good.  First answer is done. 
print  ("** Number of Unique Items **", "\n", "Total Number of items: " + str(item_cnt))

** Number of Unique Items **
 Total Number of items: 184

In [16]:
# * Average Purchase Price is next.  
avg_price = purch_data_df ["Price"].median()
avg_price
print ("** Average Purchase Price ** ", "\n", "Average Price:  $" + str(avg_price))

** Average Purchase Price **
 Average Price:  $2.87

In [17]:
cnt_of_purch = purch_data_df["SN"].count()
cnt_of_purch
print ("** Total Number of Purchases", "\n", "Number of Purchases: " + str(cnt_of_purch))

** Total Number of Purchases
 Number of Purchases: 858

In [18]:
# * Total Revenue
revenue = purch_data_df["Price"].sum()
type(revenue)
'${:,.2f}'.format(revenue)
print ()
print ("** Total Revenue **", "\n", "Total Revenue: " + str ('${:,.2f}'.format(revenue)))

** Total Revenue **
 Total Revenue: $2,514.43

In [20]:
# Purchase Analysis summary can now be compiled.  
print ("**Purchasing Analysis (Total)**")
print ("Total Number of items: " + str(item_cnt))
print ("Average Price:  $" + str(avg_price))
print ("Number of Purchases: " + str(cnt_of_purch))
print ("Total Revenue: " + str ('${:,.2f}'.format(revenue)))

**Purchasing Analysis (Total)**
Total Number of items: 184
Average Price:  $2.87
Number of Purchases: 858
Total Revenue: $2,514.43

In [21]:
# **Gender Demographics**
# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed
# Use the pdata_unique_by_SN table. 
pdata_unique_by_SN.head()
# Dropping the item data from this table will give me a clean data table of users.  
# Create a cust_data df using Gender, SN, and maybe Age. 
# df.loc[:,['B', 'A']] = df[['A', 'B']]
player_dat= pdata_unique_by_SN.loc[:,["SN", "Gender", "Age"]]
player_dat.head()

             SN Gender  Age
0     Aelalis34   Male   38
1        Eolo46   Male   21
2   Assastnya25   Male   34
3  Pheusrical25   Male   21
4        Aela59   Male   23

In [29]:
#filter by "Gender" = "Male"
# usa_ufo_df = clean_ufo_df.loc[clean_ufo_df["country"] == "us",:]
# player_dat = player_dat.loc[player_dat["Gender"] == "Male",:]
# player_dat.count()  # 495 Males

# player_dat = player_dat.loc[player_dat["Gender"] == "Female",:]
# player_dat.count()  # 108 Females
# 612 distinct users.  603 are sexed.  
# what I really need is to count grouped by Gender I think.  What the hell are the others?

gender_vals = player_dat["Gender"].unique()
gender_vals
# Returned:  array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)
# Ahhh....'Other / Non-Disclosed'
# cool...this dataset is not as messed up as I feared.

array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

In [32]:
# grouping by gender.  
gender_tots = player_dat["Gender"].value_counts()
gender_tots.dtype # int64
# it gives it to me int64, grouped.  I can throw it into a dataframe.  
gender_tots
# Yes! cool.  totals broken down by gender.  
# how best to bring percents into these.  calculating percents should divide by player_count

Male                     495
Female                   108
Other / Non-Disclosed      9
Name: Gender, dtype: int64

In [33]:
gender_percents = gender_tots["Gender"] / player_count * 100
gender_percents

# gender_percents = '{0:.0f}%'.format(gender_tots_df["Gender"] / player_count * 100)
#
# '{0:.0f}%'.format(gender_percents["Gender"])
# having trouble putting the darn percent sign on these.

KeyError: 'Gender'

In [250]:
gender_tots_df = pd.DataFrame( player_dat["Gender"].value_counts())
gender_tots_df
# I'm going to try mapping in the df.  Reference:  
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
# file_df["population"] = file_df["population"].map("{:,}".format)
# file_df["other"] = file_df["other"].map("{:.2f}".format)
# file_df.head()
#  adding a columnn
gender_tots_df["% of Gender"] = gender_tots_df["Gender"]/ player_count * 100
gender_tots_df
# YES!
# Now do the .map deal
gender_tots_df["% of Gender"] = gender_tots_df["% of Gender"].map("{:.2f}%".format)
gender_tots_df

# jeez...finally.   I should put all of these in dataframes.  
print ("**Gender Demographics**")
gender_tots_df

**Gender Demographics**

                       Gender % of Gender
Male                      495      80.88%
Female                    108      17.65%
Other / Non-Disclosed       9       1.47%

In [251]:
# **Purchasing Analysis (Gender)** 
# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals

# Using GroupBy in order to separate the data into fields according to "state" values
# grouped_usa_df = usa_ufo_df.groupby(['state'])
purch_grp_by_gender = purch_data_df.groupby(['Gender'])

# reference functions & methods: 
# In order to be visualized, a data function must be used...
# grouped_usa_df.count().head(10)
# Creating a new DataFrame using both duration and count
# state_duration = grouped_usa_df["duration (seconds)"].sum()
# state_counts = usa_ufo_df["state"].value_counts()
# state_summary_table = pd.DataFrame({"Number of Sightings":state_counts,
#                                    "Total Visit Time":state_duration})
# state_summary_table.head()

# ** Purchase Count **
purch_grp_by_gender["Item ID"].count()

# redo the above, this time with a single statement.  
purch_grp_by_gender = purch_data_df.groupby(['Gender']).count()["Item ID"]
purch_grp_by_gender

Gender
Female                   149
Male                     697
Other / Non-Disclosed     12
Name: Item ID, dtype: int64

In [252]:
# ** avg purchase price **
avg_price_by_gender = purch_data_df.groupby(["Gender"]).mean()
# avg_price_by_gender["Price"].head()
# That does it.  It'd be nice if it could be done in one statement.  
avg_price_by_gender = purch_data_df.groupby(["Gender"]).mean()["Price"]
avg_price_by_gender
# I'm going back with the above approach and redoing all of these like that one^^^

Gender
Female                   2.847584
Male                     2.944448
Other / Non-Disclosed    3.155000
Name: Price, dtype: float64

In [253]:
# * Total Purchase Value
tot_purch_val = purch_data_df.groupby(["Gender"]).sum()["Price"]
tot_purch_val

Gender
Female                    424.29
Male                     2052.28
Other / Non-Disclosed      37.86
Name: Price, dtype: float64

In [254]:
# wtf is a normalized total.  Assume it is the $$s per person.  
norm_total_by_gender = tot_purch_val / gender_tots_df["Gender"]
norm_total_by_gender
# that looks about right.

Female                   3.928611
Male                     4.146020
Other / Non-Disclosed    4.206667
dtype: float64

In [255]:
# Build the summary table  from purch_grp_by_gender, avg_price_by_gender, tot_purch_val, and normalized totals.   
# take labels from the readme. 
gender_summ_table = pd.DataFrame({"Purchase Count":purch_grp_by_gender, "Average Purchase Price": avg_price_by_gender, 
                                 "Total Purchase Value": tot_purch_val, "Normalized Totals": norm_total_by_gender})
gender_summ_table
# Lost my formatting.  
# Format reference: 
# Use Map to format all the columns
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
# file_df["population"] = file_df["population"].map("{:,}".format)
# file_df["other"] = file_df["other"].map("{:.2f}".format)
# file_df.head()

gender_summ_table["Average Purchase Price"] = gender_summ_table["Average Purchase Price"].map("${:.2f}".format)
gender_summ_table["Normalized Totals"] = gender_summ_table["Normalized Totals"].map("{:.2f}".format)
gender_summ_table["Total Purchase Value"] = gender_summ_table["Total Purchase Value"].map("${:.2f}".format)
print ("**Purchasing Analysis (Gender)** ")
gender_summ_table

**Purchasing Analysis (Gender)**

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,$2.85,3.93,149,$424.29
Male,$2.94,4.15,697,$2052.28
Other / Non-Disclosed,$3.15,4.21,12,$37.86

In [256]:
# **Age Demographics**
# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals
player_dat["Age"].sort_values().unique()
# ages go from 7 through 45.

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       42, 43, 45], dtype=int64)

In [258]:
## Create the bins in which Data will be held
## Bins are 0 to 25, 25 to 50, 50 to 75, 75 to 100
# bins = [0, 25, 50, 75, 100]
bins = [0,9.9999, 14.9999, 19.9999, 24.9999, 29.9999, 34.9999, 39.999, 999 ]
## Create the names for the four bins
# group_names = ['Low', 'Okay', 'Good', 'Great']
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Cut postTestScore and place the scores into bins
# pd.cut(regiment_df["Test Score"], bins, labels=group_names)
# regiment_df["Test Score Summary"] = pd.cut(regiment_df["Test Score"], bins, labels=group_names)
# regiment_df
player_dat["Age Group"] = pd.cut(player_dat["Age"], bins, labels=group_names)
player_dat.head()

             SN Gender  Age Age Group
0     Aelalis34   Male   38     35-39
1        Eolo46   Male   21     20-24
2   Assastnya25   Male   34     30-34
3  Pheusrical25   Male   21     20-24
4        Aela59   Male   23     20-24

In [264]:
# # Creating a group based off of the bins
# regiment_groups = regiment_df.groupby("Test Score Summary")
# regiment_groups.max()

# just like I did gender analysis above.  
# refs: 
# gender_tots_df = pd.DataFrame( player_dat["Gender"].value_counts())
# gender_tots_df
# # I'm going to try mapping in the df.  Reference:  
# # file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
# # file_df["population"] = file_df["population"].map("{:,}".format)
# # file_df["other"] = file_df["other"].map("{:.2f}".format)
# # file_df.head()
# #  adding a columnn
# gender_tots_df["% of Gender"] = gender_tots_df["Gender"]/ player_count * 100
# gender_tots_df
# # YES!
# # Now do the .map deal
# gender_tots_df["% of Gender"] = gender_tots_df["% of Gender"].map("{:.2f}%".format)
# gender_tots_df

age_tots_df = pd.DataFrame(player_dat["Age Group"].value_counts())
age_tots_df
age_tots_df["Avg Purch Price"] = age_tots_df / player_count * 100
age_tots_df

       Age Group
20-24        272
15-19        107
25-29         93
30-34         51
35-39         32
10-14         25
<10           21
40+           11