In [65]:
# Import the Pandas library
import pandas as pd
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, Column, Date, Integer, String, DateTime, Float
from sqlalchemy.ext.declarative import declarative_base

In [66]:
path_meas = "Output/clean_meas.csv"
path_stat = "Output/clean_stat.csv"

In [67]:
meas_df = pd.read_csv(path_meas)  # Hawaii measurements
stat_df = pd.read_csv(path_stat)  # Hawaii stations

In [68]:
meas_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [69]:
stat_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [70]:
# Create an engine for the hawaii.sqlite database
engine = create_engine("sqlite:///Output\hawaii.sqlite", echo=False)
Base = declarative_base()

In [71]:
class Measurement(Base):
    __tablename__ = "tbl_meas"
    meas_id = Column(Integer, primary_key=True)
    station = Column(String(255)) 
    date = Column(DateTime)
    prcp = Column(Float)
    temp = Column(Float)

In [72]:
class Station(Base):
    __tablename__ = "tbl_stat"
    stat_id = Column(Integer, primary_key=True)
    station = Column(String(255)) 
    name = Column(String(255)) 
    lat = Column(Float)
    long = Column(Float)
    elev = Column(Float)
    
Base.metadata.create_all(engine)

In [74]:
# Calls the Measures Constructors to create measurement objects  meas_df:  station date prcp tobs

# measure = Measurement(station=meas_df.station, date=meas_df.date, prcp=meas_df.prcp, temp=meas_df.tobs)
# station = Station(station=stat_df.station, name=stat_df.name, lat=stat_df.latitude\
#                  , long=stat_df.longitude, elev=stat_df.elevation)

In [75]:
# Create Database Connection
# Creates a connection to our DB using the sqlite Connect Engine
conn = engine.connect()

In [76]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [77]:
# Add Records to the Appropriate DB
# ----------------------------------
# Use the SQL ALchemy methods to run simple "INSERT" statements using the classes and objects  
meas_df.to_sql(tbl_meas, engine, if_exists="replace")

NameError: name 'tbl_meas' is not defined